{%- macro fsign_body(name, op) %}
  if !isEnabled_FS() then
    return IllegalInstruction();
  end

  let fd : FRegIdx = UInt(GetRD(instruction));
  let fs1 : FRegIdx = UInt(GetRS1(instruction));
  let fs2 : FRegIdx = UInt(GetRS2(instruction));

  var src1 : bits(32) = F[fs1];
  var src2 : bits(32) = F[fs2];

  var res : bits(32) = {{ op }}(src1, src2);

  F[fd] = res;

  makeDirty_FS();
  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_FSGNJ_S(instruction: bits(32)) => Result
begin
{{- fsign_body("fsgnj_s", "riscv_sgnj") -}}
end

func Execute_FSGNJN_S(instruction: bits(32)) => Result
begin
{{- fsign_body("fsgnjn_s", "riscv_sgnjn") -}}
end

func Execute_FSGNJX_S(instruction: bits(32)) => Result
begin
{{- fsign_body("fsgnjx_s", "riscv_sgnjx") -}}
end
