{#-
  inst vd, vs2, fs1, vm; vm mask is optional

  eew(vd, vs2) = sew, w(fs1) = sew

  NOTE: this instructions requires a valid FRM even if it's not used.

  NOTE: it computes vd[i] = op(vs2[i], F[fs1])
  the order of vs1/vs2 is swapped compared to ordinary riscv inst.
-#}
{%- macro vfop_vf_body(name, op) %}
  if !isEnabled_VS() then
    return IllegalInstruction();
  end
  if VTYPE.ill then
    return IllegalInstruction();
  end
  if !IsZero(VSTART) then
    return IllegalInstruction();
  end

  if !isEnabled_FS() then
    return IllegalInstruction();
  end
  let (rm: RM, rm_valid: boolean) = getFrmDynamic();
  if !rm_valid then
    return IllegalInstruction();
  end

  let vd: VRegIdx = UInt(GetRD(instruction));
  let vs2: VRegIdx = UInt(GetRS2(instruction));
  let fs1: FRegIdx = UInt(GetRS1(instruction));
  let vm: bit = GetVM(instruction);

  let vl: integer = VL;
  let sew: integer{8, 16, 32, 64} = VTYPE.sew;
  let vreg_align: integer{1, 2, 4, 8} = getAlign(VTYPE);

  if vm == '0' && vd == 0 then
    // overlap with mask
    return IllegalInstruction();
  end
  if vd MOD vreg_align != 0 then
    // vd is not aligned with lmul group
    return IllegalInstruction();
  end
  if vs2 MOD vreg_align != 0 then
    // vs2 is not aligned with elmul group
    return IllegalInstruction();
  end

  case sew of
    when 8 => begin
      return IllegalInstruction();
    end

    when 16 => begin
      return IllegalInstruction();
    end

    when 32 => begin
      let src1: bits(32) = F[fs1];
      for idx = 0 to vl - 1 do
        if vm != '0' || V0_MASK[idx] then
          let src2: bits(32) = VRF_32[vs2, idx];
          let res: bits(32) = {{ op }}(src2, src1);
          VRF_32[vd, idx] = res;
        end
      end
    end

    when 64 => Todo("support sew=64");

    otherwise => Unreachable();
  end

  logWrite_VREG_elmul(vd, vreg_align);

  makeDirty_VS();
  clear_VSTART();
  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_VFSGNJ_VF(instruction: bits(32)) => Result
begin
{{- vfop_vf_body("vfsgnj_vf", op="riscv_sgnj") -}}
end

func Execute_VFSGNJN_VF(instruction: bits(32)) => Result
begin
{{- vfop_vf_body("vfsgnjn_vf", op="riscv_sgnjn") -}}
end

func Execute_VFSGNJX_VF(instruction: bits(32)) => Result
begin
{{- vfop_vf_body("vfsgnjx_vf", op="riscv_sgnjx") -}}
end

